$color-primary: #5a5a5a;
$color-secondary: #fff;

$header-background-color: rgba(0,0,0,0.8);
$footer-background-color: #f2f2f2;
$footer-font-color: #888;

$layout-max-width: 980px;
$layout-spacing: 25px;

$mobile-breakpoint: 680px;
$mobile-layout-spacing: 12px;